.music-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(89, 89, 89, 0.293);
  backdrop-filter: blur(100px);
  border-radius: 50%;
  padding: 12px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
  opacity: 0.5;
}

.music-toggle:hover {
  opacity: 1;
}
